*{
    margin: 0;
    padding: 0;
    font-family: "Briem Hand", cursive;
    box-sizing: border-box;
    text-transform: capitalize;
}
.wrapper{
    background: #483318;
}
nav .menu {
   
    display: flex;
    gap: 70px;
    padding: 15px;
  
    justify-content: center;
    height: 80px;
    text-transform: capitalize;
    
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    width: 25px;
    display: block;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    /* background-color: rgb(66, 46, 7); */
}


.menu{
    /* position: relative;
    left: 30px;  */
    height: 80px;
    padding: 10px;
    width: 100%;
    text-align: center;
    
    
}
.menu ul{
    display: flex;
    gap: 20px;
    flex-direction: row;
    height: 80px;
    
}

 .menu ul li {
 list-style: none;
 height: 80px;

  
    
}
.menu ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: white
    
}
.menu ul li a:hover{
    color: black;
}
.menu i {
    position: relative;
    left: 15px;
    color:white;

}
nav .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}
nav .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    width: 150px;
}

nav .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
}

nav .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
    display: block;
}
.dropdown-menu.fade-down{
    text-decoration: black;
    
    
    width: 50%;
    
}
.dropdown-menu.fade-down a{
    color: black;
}
.dropdown-item {
    display: inline-block;
    width: 100%;
    padding: .25rem 1rem;
    font-weight: 400;
   
    text-align: inherit;
    white-space: nowrap;
    background-color: hsla(34, 58%, 32%);
    border: 0;
    position: relative;

} 
.home{
    background: url(assets/1img.jpg);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    
}
.home h3{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(243, 248, 245); 
    text-transform: capitalize; 
    
}
.home h2{
   
    /* text-align: center; */
    font-size: 5rem;
    color: rgb(247, 252, 249);
    
    
}
.home .text p{
    font-size: 1.5rem;
    color: rgb(247, 239, 239);
    font-weight: bolder;
}
.bg{
    text-align: center;
    background-color: rgba(73, 40, 8, 0.479);
    width: 100%;
}
.order{
    /* background-color: rgb(57 40 15 / 88%); */
    padding: 30px;
    text-align: center;
    margin: 40px 0;
}
.box{
   padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.box img{
    width: 300px;
    height: 300px;
transition: transform 0.3s ease-in;

    
}
.box img:hover{
    transform: scale(1.1);
}
.box p{
    position: relative;
    top: -150px;
    background-color: rgba(73, 40, 8, 0.479);
    color: white;
    height: 50px;
    
    font-size: 30px;
}
.order h2{
    color: white;
    font-size: 30px;
}

.about h1{
    padding: 10px;
    font-size: 40px;

    color: white;
}
.about{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text1{
    width: 50%;
    height: 100%;
    padding: 10px;
}
.text1 p{
    color: white;
  
}
.text1 h2{
    color:white;
    width: 100%;
    padding: 20px;
    font-size: 35px;
}
.pic img{
    width: 400px;
    height: 400px;
    border: 1px saddlebrown;
border-radius: 50px;
}
.history{
display:flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
    align-items: center;
    padding: 30px;
}
.cook{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 20px;
    }
.fav{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fav h2{
    padding: 20px;
    font-weight: 900;
    color: white;
    font-size: 45px;
    text-align: center;
}
.fav img{
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease-in;
}
.fav img:hover{
    transform: scale(1.1); 
}
.dish{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.dish h4{
    position: relative;
    top: -150px;
    background-color: rgba(73, 40, 8, 0.479);
    color: white;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
 .cuisine{
    display: flex;
    flex-wrap: wrap;
} 
.cuisine img{
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease-in;
}
.cuisine img:hover{
   transform: scale(1.1);
}
.cuisine h2{
    padding: 20px;
    font-weight: 900;
    color: white;
    font-size: 45px;
    text-align: center;
    width: 100%;
}
.cui{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
}
.cui h4{
    position: relative;
    top: -150px;
    background-color: rgba(73, 40, 8, 0.479);
    color: white;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
footer{
margin-top: 40px;
background-color: #29201660;
padding: 30px;
text-align: center;

}

footer h2{
    color: rgb(253, 253, 253);
    font-size: 40px;
    font-weight: 900;
}
.end {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
footer p{
    color: white;
    padding: 5px;
}
 .last {
    display: flex; 
    
}
.bot{
    display: flex;
    justify-content: end;
}
.bot a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
    border-right:2px solid gray ;
}
footer i{
    color: white;
    padding: 30px;
}
@media(max-width:768px){
    .hamburger{
        display: block;
        position: absolute;
        right: 0;
        padding: 20px;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        
    }
    .nav-menu{
       position: fixed;
       left: 100%;
       top:70px ;
       gap: 0;
       flex-direction: column;
   background-color: #4833189d;
  
       width: 100%;
       text-align: center;
       transition: 0.3s;
    }
 
    .nav-item{
margin:16px 0;


    }
    .nav ul li a{
        color: #483318;
    }
    .nav-menu.active{
        left: 0;
        flex-direction: column;
        height: 50vh;
    }
}
@media screen and (max-width:700px){
 
    .history img{
        height: 300px;
        width: 300px;
    }
    .cook img{
        height: 300px;
        width: 300px;
    }
    .text1{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .history,.cook{
        display:flex;
        flex-direction: column-reverse;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
            align-items: center;
            padding: 30px;
        }
}
 @media screen and (max-width:450px)
{.home h3{
    font-size: 1rem;}
    .home h2{
        font-size: 3rem;}
        .text1{
            width: 100%;
            height: 100%;
            padding: 10px;
        }
} 
